*{
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
}/* home de la página */
/* header */
.home {
  /* background-image: url("imagenes/homeSaver.mp4"); */
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

video{
  position: absolute;
  z-index: -1;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  vertical-align: top;
  color: white;
  z-index: 2;
}

.black-Header{
  background-color: black;
}

.button {
  display: flex;
  justify-content: flex-end;
  vertical-align: top;
}

.icono{
  font-family: "Poppins";
  font-size: 30px;
  margin-right:900px;
}

.inicio{
  font-family: "Poppins";
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  float: right;
  color: white;
}

.inicio:hover{
  text-decoration: underline;
}
.somos{
  font-family: "Poppins";
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  float: right;
  color: white;
}
.somos:hover{
  text-decoration: underline;
}

.servicios{
  font-family: "Poppins";
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  float: right;
  color: white;
}
.servicios:hover{
  text-decoration: underline;
}

.contact{
  font-family: "Poppins";
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
  float: right;
  color: white;
}
.contact:hover{
  text-decoration: underline;
}

/* centro de pagina */
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  text-align: center;
  font-family: "Poppins";
  font-size: 220px;
  color: white;
  margin-top: 100px;
}
.text{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Questrial";
  font-size: 50px;
  margin: 0px;
  color: white;

}
/* primer scroll */
.inf{
  font-family: "Questrial";
  color: white;
}
.scroll1 {
  /* background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("imagenes/fondoh.jpg"); */
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  color: white;
}

#particles{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sub-title {
  font-family: "Poppins";
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
}

img {
  padding: 30px;
  /* clip-path: polygon(11110% 1110%, 0% 75%, 0% 0%, 0% 10%); */
  width: 600px;
  z-index:1;
}

.texto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 60px;
  transform: translateX(300px);
}

.llanta {
  transform: translateX(-300px);
}

.info{
  display: flex;
  align-items:center;
}

.texto1 p{
  text-align: right;
  font-size: 25px;
}


/*Scroll2 de la página */
.scroll2 {
  /* background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("imagenes/scroll2.jpg"); */
  background-color: black;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
  font-size: 40px;
  text-align: center;
}

.service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.service p{
  margin-top: 15px;
  font-size: 28px;
}

.cont{
  margin-top: 30px;
}

.tarjeta {
  background-color: #032B43;
  color: #F1F0EA;
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  width: 200px;
  height: 320px;
}

.tarjeta button{
  background-color: #020122;
  color: #F1F0EA;
  padding: 10px;
}

.tarjeta h3{
  font-family: "Questrial";
  font-size: 30px;
}

.tarjeta p{
  padding: 5px;
  font-size: 20px;
}
.registro{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}
.botonR {
  background-color: #f2f2f2;
  /* border: 4px solid transparent; */
  font-family: "Questrial";
  font-size: 40px;
  font-weight: bold;
  border-radius: 10px;
  color: #39393A;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.botonR:hover{
  color: red;
  border-color: #4c4b4b;
}
/*
scroll3 de la página  */
.scroll3 {
  /* background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("imagenes/scroll3.jpg"); */
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
  color: white;
  font-size: 30px;
  text-align: center;
}
#particles2{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.contac{
  transform: translateX(300px);
  padding: 60px;
}

.contac h4{
  color: white;
}

footer{
  background-color: #032B43;
  display: flex;
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
}

.maps{
  width: 300px;
  height: 300px;
}
.enlace{
  display: flex;
  align-items: flex-end;
}
.enlace div {
  border-bottom: 1px solid #B0B2B8;
  margin-left:10px;
  color: #40434E;
}
.face{
  width: 70px;
  padding: 0 30px;
}
.insta{
  width: 70px;
  padding: 0 30px;
}
.twit{
  padding: 0 30px;
  width: 70px;
}

.datos{
  text-align: right;
  font-size: 25px;
}
